shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
@vaddk:registry=https://${PROJECT_HOST}/api/v4/packages/npm/
//${PROJECT_HOST}/api/v4/packages/npm/:_authToken=${PROJECT_TOKEN}
